<div class="checkout">

    <div class="banner">
        <h1 class="banner-title">Airport Queues A Thing Of The Past </h1>
        <p class="banner-sub-title">No Stress, No Worries, No Waiting</p>
    </div>

    <div class="container">

        <div class="row mt-20">
            <div class="col-md-8">
                <div>
                    <p class="mt-50" ng-if="vm.packages.length <= 0 && !vm.loading">
                        No item in cart.
                    </p>

                    <ul ng-if="vm.packages.length" class="list-group">
                        <li href="#" class="list-group-item" ng-repeat="package in vm.packages">
                            <div class="row">
                                <div class="col-md-9">
                                    <h3 class="list-group-item-heading">{{package.Name }}</h3>

                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Service Type</th>
                                                <th>Airport</th>
                                                <th>Service</th>
                                                <th>Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="service in package.AirportServices">
                                                <td>{{service.ServiceType.Name}}</td>
                                                <td>{{service.Airport.Name}}</td>
                                                <td>{{service.Service.Name}}</td>
                                                <td>{{service.Price}}</td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="text-center">
                                        <button type="button"
                                                class="btn"
                                                ng-class="{'btn-success': package.checked , 'btn-primary': !package.checked}"
                                                ng-model="package.checked"
                                                ng-click="vm.removePackage(package)"
                                                uib-btn-checkbox btn-checkbox-true="true"
                                                btn-checkbox-false="false">
                                            <span ng-if="package.checked">Remove</span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="col-md-4">
                <div class="panel hidden-xs">
                    <div class="panel-heading">
                        <h3 class="total-price">Total: {{vm.totalPrice | currency:"$":0}}
                            <span class="pull-right small">{{vm.totalItemInCart}} items</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <a ui-sref="booking" class="btn btn-primary btn-lg btn-block">Continue Booking </a>

                        <button ng-disabled="!vm.totalPrice"
                                class="mt-30  btn btn-primary btn-lg btn-block">Confirm Check Out
                        </button>
                        <hr>

                        <p>We can accept payment via </p>
                        <img class="img-responsive" src="/assets/images/methods-of-payment.png">
                    </div>
                </div>
                <div class="mt-20 visible-xs">
                    <h3 class="total-price">Total: {{vm.totalPrice | currency:"$":0}}
                        <span class="pull-right small">{{vm.totalItemInCart}} items</span>
                    </h3>
                </div>

            </div>
        </div>


    </div>

    <div class="checkout-wrapper visible-xs">
        <div class="container">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a ui-sref="booking" type="button" class="btn btn-lg btn-primary">Continue Booking</a>
                </div>
                <div ng-show="vm.totalPrice" class="btn-group" role="group">
                    <button type="button" class="btn btn-lg btn-primary">Check Out</button>
                </div>
            </div>
        </div>
    </div>

</div>

