// brand colors (http://name-of-color.com/)
$black: #000;
$white: #fff;
$bg-header: #fbfbfb;
$link-color: #6d7480;
$hover: #fc6347;
$color: #14181c;
$color1: #4D4D4D;
$color-placeholder: #aaa;
$border-color: #555;
$border-color1: #d0d0d0;
$border-color2: #9fa6b2;
$bg-color: #fafafa;
$bg-color1: #797979;
$bg-color2: #d7d7d7;
$bg-color3: #e0e0e0;
$bg-facebook: #1b78c7;
$bg-twitter: #00bff3;
$bg-pinterest: #da421f;
$bg-gplus: #ffb400;
$mountain-mist: #999;
$ironside-gray: #666;
$red: #9e0b0f;
$red1: #8e200e;
$green: #1f795c;
$btn-post: #171717;

$base-font-size: 18px;
$base-line-height: 20px;
$base-font-family: 'Helvetica', Arial, sans-serif;
$roboto: 'Roboto', Arial , Helvetica , sans-serif;
$raleway: 'Raleway', Arial , Helvetica , sans-serif;
$open: 'Open Sans', Arial , Helvetica , sans-serif;

$base-text-interval: ($base-font-size * $base-line-height);

$base-min-width: 320px;
$base-width: 1170px;
$base-width-centered-small: 600px;

//colors
$color_mountain_mist_approx: #999;
$color_suva_gray_approx: #888;
$color_suva_cabin_approx: #626262;
$color_log_cabin_approx: #222;
$color_sail_approx: #b3d4fc;
$color_celeste_approx: #ccc;
$color_tapa_approx: #777;
$color_mercury_approx: #dee2e8;
$color_athens_gray_approx: #e9edf2;
$color_boulder_approx: #74767d;
$color_apple_approx: #47a447;
$color_persimmon_approx: rgb(252, 99, 71);
$color_persian_red_approx: #d7302c;
$color_curious_blue_approx: #1c94dd;
$color_saffron_approx: #f5c537;
$gray: #808080;
$color_japanese_laurel_approx: green;
$red: red;
$blue: blue;
$color_azure_approx: #3b5998;
$yellow: yellow;
$color_concrete_approx: #f3f3f3;
$color_desert_storm_approx: #f8f8f8;
$color_malachite_approx: #00ce6f;
$color_medium_purple_approx: #a95df0;
$color_crimson_approx: #db0630;
$color_rose_of_sharon_approx: #b94a00;
$color_violet_eggplant_approx: #8702a8;
$color_picton_blue_approx: #2ea7eb;
$color_green_haze_approx: #009b50;
$color_bright_red_approx: #af0000;
$color_monsoon_approx: #8d8888;
$color_guardsman_red_approx: #c90000;
$color_dove_gray_19_approx: rgba(107, 108, 109, 0.19);
$color_daintree_approx: #002b36;
$color_green_approx: #00db00;
$orange:                   #fc6347;
$grey:                     #dddddd;
$grey-light:               #888888;
$color_pickled_bluewood_approx: #34495E;
$color_desert_storm_approx: #f8f8f8;
$black-grey: #36393b;
//fonts
$font_0: Tahoma;
$font_1: Open Sans;
$font_2: sans-serif;
