.no-margin{
    margin : 0 !important;
}
.m-10{
    margin:10px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.ml-10{
    margin-left: 10px !important;
}
.mr-10{
    margin-right: 10px !important;
}
.m-20{
    margin: 20px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.ml-20{
    margin-left: 20px !important;
}
.mr-20{
    margin-right: 20px !important;
}
.m-30{
    margin: 30px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.ml-30{
    margin-left: 30px !important;
}
.mr-30{
    margin-right: 30px !important;
}

.m-40 {
    margin: 40px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.m-45 {
    margin: 45px !important;
}

.mt-45 {
    margin-top: 45px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.ml-45 {
    margin-left: 45px !important;
}

.mr-45 {
    margin-right: 45px !important;
}
.m-50{
    margin: 50px !important;
}
.mt-50{
    margin-top: 50px !important;
}
.mb-50{
    margin-bottom:50px !important;
}
.ml-50{
    margin-left: 50px !important;
}
.mr-50{
    margin-right: 50px !important;
}

