.pd-5{
  padding : 5px !important;
}
.pdt-5{
  padding-top: 5px !important;
}
.pdr-5{
  padding-right: 5px !important;
}
.pdb-5{
  padding-bottom: 5px !important;
}
.pdl-5{
  padding-left: 5px !important;
}
.pd-10{
  padding : 10px !important;
}
.pdt-10{
  padding-top: 10px !important;
}
.pdr-10{
  padding-right: 10px !important;
}
.pdb-10{
  padding-bottom: 10px !important;
}
.pdl-10{
  padding-left: 10px !important;
}
.pd-15{
  padding : 15px !important;
}
.pdt-15{
  padding-top: 15px !important;
}
.pdr-15{
  padding-right: 15px !important;
}
.pdb-15{
  padding-bottom: 15px !important;
}
.pdl-15{
  padding-left: 15px !important;
}
.pd-20{
  padding : 20px !important;
}
.pdt-20{
  padding-top: 20px !important;
}
.pdr-20{
  padding-right: 20px !important;
}
.pdb-20{
  padding-bottom: 20px !important;
}
.pdl-20{
  padding-left: 20px !important;
}
.pd-25{
  padding : 25px !important;
}
.pdt-25{
  padding-top: 25px !important;
}
.pdr-25{
  padding-right: 25px !important;
}
.pdb-25{
  padding-bottom: 25px !important;
}
.pdl-25{
  padding-left: 25px !important;
}
.pd-30{
  padding : 30px !important;
}
.pdt-5{
  padding-top: 30px !important;
}
.pdr-30{
  padding-right: 30px !important;
}
.pdb-30{
  padding-bottom: 5px !important;
}
.pdl-30{
  padding-left: 30px !important;
}
.no-padding{
  padding:0 !important;
}
.no-padding-top{
  padding-top:0 !important;
}
.no-padding-right{
  padding-right:0 !important;
}
.no-padding-bottom{
  padding-bottom:0 !important;
}
.no-padding-left{
  padding-left:0 !important;
}
