<div class="modal-header">
    <h4 class="modal-title">Trip detail
        <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">
            <i class="fa fa-times"></i>
        </button>
    </h4>

</div>
<div class="modal-body">
    <form>

        <div class="row">
            <div class="col-md-12">
                <h4 class=" text-bold gray">Flight</h4>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <div class="form-label">Date</div>
                    <input uib-datepicker-popup
                           uib-datepicker-popup="{{'dd-MMMM-yyyy'}}"
                           ng-click="vm.openDatePicker()"
                           is-open="vm.opened" datepicker-options="vm.dateOptions"
                           type="text"  ng-model="vm.date"
                           class="form-control" placeholder="Flight Date">
                </div>
                <div class="form-group">
                    <div class="form-label">Time</div>
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control">
                                <option value="0">01</option>
                                <option value="1">02</option>
                                <option value="2">03</option>
                                <option value="2">04</option>
                                <option value="2">05</option>
                                <option value="2">06</option>
                                <option value="2">07</option>
                                <option value="2">08</option>
                                <option value="2">09</option>
                                <option value="2">10</option>
                                <option value="2">11</option>
                                <option value="2">12</option>
                                <option value="2">13</option>
                                <option value="2">14</option>
                                <option value="2">15</option>
                                <option value="2">16</option>
                                <option value="2">17</option>
                                <option value="2">18</option>
                                <option value="2">19</option>
                                <option value="2">20</option>
                                <option value="2">21</option>
                                <option value="2">22</option>
                                <option value="2">23</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control">
                                <option value="0">01</option>
                                <option value="1">02</option>
                                <option value="2">03</option>
                                <option value="2">04</option>
                                <option value="2">05</option>
                                <option value="2">06</option>
                                <option value="2">07</option>
                                <option value="2">08</option>
                                <option value="2">09</option>
                                <option value="2">10</option>
                                <option value="2">11</option>
                                <option value="2">12</option>
                                <option value="2">13</option>
                                <option value="2">14</option>
                                <option value="2">15</option>
                                <option value="2">16</option>
                                <option value="2">17</option>
                                <option value="2">18</option>
                                <option value="2">19</option>
                                <option value="2">20</option>
                                <option value="2">21</option>
                                <option value="2">22</option>
                                <option value="2">23</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label">Number</div>
                    <input type="email" class="form-control" placeholder="Flight Number">
                </div>
            </div>

            <div class="col-md-12">
                <h4 class=" text-bold gray">Traveller 1</h4>
            </div>


            <div class="col-md-10 col-md-offset-1">

                <div class="form-group">
                    <div class="form-label">Name</div>
                    <input type="email" class="form-control" placeholder="Traveller Name">
                </div>
                <div class="form-group">
                    <div class="form-label">Passport No.</div>
                    <input type="email" class="form-control" placeholder="Traveller Passport No">
                </div>
                <div class="form-group">
                    <div class="form-label">Mobile Number</div>
                    <input type="email" class="form-control" placeholder="Traveller Mobile No">
                </div>
                <div class="form-group">
                    <div class="form-label">Email address</div>
                    <input type="email" class="form-control" placeholder="Traveller Email">
                </div>


                <div class="row mt-40">
                    <div class="col-md-6 col-xs-6">
                        <button ng-click="vm.close()" type="button" class="btn btn-lg btn-default btn-block">
                            Cancel
                        </button>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <button type="button" ng-click="vm.close()" class="btn btn-lg btn-primary btn-block">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

