.ui-select-dropdown{
    left:0;
}
.select2-container .select2-choice .select2-arrow{
    border-left: none;
}
.select2-container-active .select2-choice{
    border:none;
}
a.select2-choice.ui-select-match{
    border:none !important;
}
.select2-container .select2-choice > .select2-chosen{
    color:#555;
    text-align: left;
}
