<div class="booking">

    <div class="banner">
        <h1 class="banner-title">Airport Queues A Thing Of The Past </h1>
        <p class="banner-sub-title">No Stress, No Worries, No Waiting</p>
    </div>

    <div class="container">

        <div class="row mt-20">
            <div class="col-md-8">
                <div>
                    <form name="vm.bookingForm" novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-label">Number Of Travellers</div>
                                    <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number"
                                        ng-click="vm.minusNumberOfTravellers()">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </span>
                                        <input type="text" name="number" class="form-control input-number"
                                               ng-model="vm.searchData.numberOfTravellers" ng-min="1" ng-max="20"
                                               required>
                                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number"
                                        ng-click="vm.plusNumberOfTravellers()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="form-label">Airport</div>

                                    <select chosen options="vm.airportLists"
                                            class="form-control"
                                            ng-model="vm.searchData.airport"
                                            placeholder="Please Select"
                                            ng-options="airport as airport.Name for airport in vm.airportLists">
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-label hidden-sm hidden-xs">&nbsp;</div>
                                <div class="text-center">
                                    <button type="submit"
                                            ng-disabled="!vm.searchData.airport"
                                            class="btn btn-lg btn-primary" ng-click="vm.getPackages()">
                                        <span ng-hide="vm.loading">Search</span>
                                        <span ng-show="vm.loading">Searching</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div>
                    <p class="mt-50" ng-if="vm.packageLists.length <= 0 && !vm.loading">
                        Please contact AirportRedCarpet.com directly for a quote
                    </p>

                    <div class="loading-block mt-40 text-center" ng-if="vm.loading">
                        <span><img src="assets/images/loading.GIF" alt=""></span>
                        <span> &nbsp; &nbsp; Loading...</span>
                    </div>


                    <ul ng-if="vm.packageLists.length" class="list-group">
                        <li href="#" class="list-group-item" ng-repeat="package in vm.packageLists">
                            <div class="row">
                                <div class="col-md-9">
                                    <h3 class="list-group-item-heading">{{package.Name }}</h3>
                                    <p class="list-group-item-text">{{package.Description }}</p>
                                </div>

                                <div class="col-md-3">
                                    <div class="text-center">
                                        <h3 class="item-price">{{vm.calculatePackageTotalPrice(package) | currency:"$":0
                                            }}</h3>
                                        <button type="button"
                                                class="btn"
                                                ng-class="{'btn-success': package.checked , 'btn-primary': !package.checked}"
                                                ng-model="package.checked"
                                                ng-click="vm.togglePackageSelection(package)"
                                                uib-btn-checkbox btn-checkbox-true="true"
                                                btn-checkbox-false="false">
                                            <span ng-if="package.checked">Booked</span>
                                            <span ng-if="!package.checked">Book</span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="col-md-4">

                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="total-price">{{vm.totalPrice | currency:"$":0}}
                            <span class="pull-right small">{{vm.totalItemInCart}} items</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <a ui-sref="checkout"
                            ng-disabled="!vm.totalPrice"
                            class="btn btn-primary btn-lg btn-block">Check out
                        </a>
                        <hr>

                        <p>We can accept payment via </p>
                        <img class="img-responsive" src="/assets/images/methods-of-payment.png">
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

