.booking{
    .banner {
        background-image: url("/assets/images/banner-2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        height: 250px;
        text-align: center;
        .banner-title {
            font-size: 36px;
            font-weight: 700;
            text-align: center;
            color: #fff;
            letter-spacing: 1px;
            padding-top: 70px;
            margin-top: 0;
        }
        .banner-sub-title {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.44;
            text-align: center;
            color: #fff;
            padding-top: 10px;
        }
    }
    .form-control{
        height: 48px;
    }
    .input-group-btn > .btn {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .btn{
        outline: none;
        &:focus,
        &:active,
        &:hover{
            outline: none;
        }
    }

    .btn-primary {
        border-color: #ff5a5f;
        background-color: #ff5a5f;
        color: #fff;
        border-radius: 4px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn-primary:hover, .btn-primary:focus {
        border-color: #ff7e82;
        background-color: #ff7e82;
        color: #fff;
    }

    .ui-select-match-text,
    .ui-select-placeholder{
        line-height: 36px;
    }
    .select2 > .select2-choice.ui-select-match {
        /* Because of the inclusion of Bootstrap */
        height: 29px;
    }

    .selectize-control > .selectize-dropdown {
        top: 36px;
    }
    /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
    .select-box {
        background: #fff;
        position: relative;
        z-index: 1;
    }
    .panel{
        border: 0;
        border-radius: 0;
        .panel-heading{
            background-color: #3c3f40;
            padding-left: 25px;
            padding-right: 25px;
            color: #fff;
            border-color: #3c3f40;
            h3{
                margin-top: 10px;
            }
            .small{
                font-size: 16px;
                color: #fff;
                line-height: 26px;
            }
        }
        .panel-body {
            padding: 15px;
            padding-left: 25px;
            padding-right: 25px;
            border: 1px solid #ddd;
            border-top: 0;
        }
    }

    .list-group-item {
        padding: 25px 0 10px 0;
        border-left: 0;
        border-right: 0;
        &:first-child {
            border: 0;
        }
        &:last-child {
             border-bottom-right-radius: 0;
             border-bottom-left-radius: 0;
         }
        .btn{
            transition: all 0.3s;
        }
    }

    .item-price{
        margin-top: 0;
    }
}
