<!--search form-->
<form class="search" novalidate>
    <div class="title">
        <span>Please Choose Services</span>
        <div class="btn-light-right visible-xs" ng-click="vm.viewTip()">
            <i class="fa fa-lightbulb-o"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-label">Airport</div>

                <select chosen options="vm.airportLists"
                        ng-disabled="!vm.airportLists.length"
                        class="form-control"
                        ng-model="vm.searchData.airport"
                        on-change="vm.getPackages"
                        placeholder="Please Select"
                        ng-options="airport as airport.Name for airport in vm.airportLists">
                </select>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-label">Number Of Travellers</div>
                <select chosen options="vm.travellers"
                        class="form-control"
                        name="travellers" id="travellers"
                        placeholder="Please select"
                        on-change="vm.getPackages"
                        ng-options="traveller.value as traveller.label for traveller in vm.travellers"
                        ng-model="vm.searchData.numberOfTravellers"></select>
            </div>
        </div>
    </div>
</form>
<!--end search form-->

<!--result-->
<div class="search-result">

    <!--loading-->
    <div class="loading-block mt-40 text-center" ng-if="vm.loading">
        <span><img src="assets/images/loading.GIF" alt=""></span>
        <span> &nbsp; &nbsp; Loading...</span>
    </div>
    <!--end loading-->

    <!--no result-->
    <p class="mt-50 no-result" ng-if="vm.packageLists.length <= 0 && !vm.loading">
        Please contact AirportRedCarpet.com directly for a quote
    </p>
    <!--end no result-->

    <!--list result-->
    <ul ng-if="vm.packageLists.length" class="list-group">
        <li href="#" class="list-group-item" ng-repeat="package in vm.packageLists">
            <div class="row">
                <div class="col-md-9 col-sm-10 col-xs-8">
                    <h4 class="list-group-item-heading">{{package.Name }}</h4>
                    <p class="list-group-item-text">{{package.Description }}</p>
                </div>

                <div class="col-md-3 col-sm-2 col-xs-4">
                    <div class="text-right">
                        <h3 class="item-price">
                            {{vm.calculatePackageTotalPrice(package) | currency:"$":2}}
                        </h3>
                        <button type="button"
                                class="btn btn-book btn-success"
                                ng-click="vm.addToCart(package)">
                            <span>Add</span>
                        </button>
                    </div>
                </div>

            </div>
        </li>
    </ul>
    <!--end list result-->

</div>
<!--end result-->
